@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './scss/mixins'; //import for using the border-radius in _mixins.scss
@import './scss/variables'; //import for using $spacing in _variables.scss

.App {
  text-align: center;
}
.noTransition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

img{
  width: 100%;
}

.footer{
    text-align: center;
}

.home{
    width: 100%;
    min-height: 80vh;

    &-intro{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 50px 0;

        &-heading{
            p{
                font-size: 30px;
                font-weight: bold;
            }
    
        }
    }

    &-specialization{
        @include flex-center();

        .bottom-line{
            width: 20%;
            background: $CyanC;
            height: 2px;
        }

        &-grid{
            display: grid;
            grid-template-columns: $column2;
            grid-gap: 16px;
            padding: 37px;
            margin: 20px 0;

            div{
                @include flex-center();
            }
        }

    }
}

.contact{
    width: 100%;
    min-height: 80px;

    &-heading{
        @include flex-center();
        margin: 30px 0;

        .bottom-line{
            background: $CyanC;
            height: 2px;
            width: 20%;
        }
    }

    &-grid{
        display: grid;
        grid-template-columns: $column3;
        justify-items: center;
        margin: 50px 0;

        div{
            @include flex-center();
            background: $WhiteC;
            width: 85%;
            border: 1px solid;
        }
    }
}

@media (max-width:500px) {
    .home{
        &-intro{
            &-heading{
                margin-right: 150px;
                h1{
                    font-size: 24px;
                }

                p{
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
        .my-img{
            width: 200px;
        }

        &-specialization{
            p {
                font-size: 18px;
                text-align: center;
            }
            &-grid{
                grid-template-columns: $column1;
            }
        }
    }

    .contact{
        &-grid{
            grid-template-columns: $column1;
        }
    }
    
}